{% extends "forum/index.html" %}

{% block content %}
        <div class="content">
            <div class="row">
                <div class="box shadow">
                    <h1>Join a Private Room</h1>
                    <div class="divider"></div>
                    <form style="margin: 0 15%;" class="col" method="post" action="/room/">
                        {% csrf_token %}
                        <input class="gray form-button" type="text" name="username" placeholder="Username" value="{{ my_profile.user }}" />
                        <input class="gray form-button" type="text" name="room_name" placeholder="Room Name" required/>
                        <input class="gray form-button" type="password" name="password" placeholder="Room Password" required/>
                        <input type="text" name="room_type" value="private" hidden />
                        <span style="text-align: center; color: red; font-size: 12px;">{{ errormsg }}</span>
                        <input class="blue form-button" type="submit" value="Join Private Room" />
                        <span style="font-size: 14px;">*A new room will be created if it does not already exist.</span>
                    </form>
                </div>
                <div class="box shadow">
                    <h1>Join a Public Room</h1>
                    <div class="divider"></div>
                    <form style="margin: 0 15%;" class="col" method="post" action="/room/">
                        {% csrf_token %}
                        <input class="gray form-button" type="text" name="username" placeholder="Username" value="{{ my_profile.user }}" />
                        <input class="gray form-button" type="text" name="room_name" placeholder="Room Name" required/>
                        <input type="text" name="room_type" value="public" hidden />
                        <input class="blue form-button" type="submit" value="Join Public Room" />
                        <span style="font-size: 14px;">*A new room will be created if it does not already exist.</span>
                    </form>
                </div>
                <div class="box shadow">
                    <h1>Python Compiler</h1>
                    <div class="divider"></div>
                    <form style="margin: 0 15%;" class="col" method="get" action="/compiler/">
                        <span style="text-align: center; font-size: 14px; margin-bottom: 5px;">Don't want to join a room? Use the compiler by itself!</span>
                        <input class="blue form-button" type="submit" value="Get Started &#8594" />
                    </form>
                </div>
            </div>
        </div>
{% endblock %}